[2015-10-08 05:55] Japh opened #9 "The medium.zip file doesn't contain a complete copy of the plugin"
To be honest, the medium.zip file is kind of redundant, but if you really want it there it should probably contain a complete copy of the plugin  :wink:

I'd probably suggest removing it entirely, and users can either clone the repo, or use the GitHub "Download ZIP" button.

[2015-10-08 09:42] wlmmatt opened #11 "Canonicals"
Not sure this version is setting up canonicals correctly. Canonicals appear at both ends pointing to self rather than Medium pointing back toward the source WP permalink.

[2015-10-08 11:40] stopsatgreen opened #12 "Publish to Plugin Directory"
Has this already been pushed to the Wordpress Plugin Directory? Can’t find it there. If not, would be better published there, to more easily receive updates.

[2015-10-08 13:08] DanielGenser opened #13 "Admin screen does not appear after installation"
I've uploaded and successfully activated the plugin in my WP installation, but there appears to be no Medium admin panel available.
![screenshot 2015-10-08 15 07 35](https://cloud.githubusercontent.com/assets/2189155/10367044/6e9cf626-6dce-11e5-861d-ec892952c75d.png)

[2015-10-08 15:50] fjarrett opened #14 "Cannot use constants as the textdomain parameter in translation functions"
POT files are generated from the source files themselves, [the PHP is not parsed](https://markjaquith.wordpress.com/2011/10/06/translating-wordpress-plugins-and-themes-dont-get-clever/), so the textdomain must be a string literal to be GNU gettext compatible.

**INCORRECT**
[code]

**CORRECT**
[code]

[2015-10-08 16:27] fjarrett opened #16 "Consider moving to the GPLv3 license"
While the Apache License 2.0 [is considered](http://www.apache.org/licenses/GPL-compatibility.html) to be GPL 3.0 compatible, it would be more straightforward to just license the plugin as GPL 3.0 since that is the standard defined and required by the WordPress open source project itself.

You also won't be able to submit this to the WordPress.org plugin repository (#12) unless it is explicitly li

[2015-10-08 16:42] ThemeSurgeon commented on #13
That's because the settings are in your user profile.

[2015-10-08 16:42] DanielGenser commented on #13
Ah!

On Thursday, October 8, 2015, John Teague <notifications@github.com> wrote:

--
--
Daniel Genser
Probably typed on a ferry.

[2015-10-08 16:45] ThemeSurgeon commented on #16
I second that recommendation. Would be better to submit the plugin through regular WordPress.org repo for maximum exposure.

[2015-10-08 17:01] majelbstoat commented on #16
We'll chat about this. The plugin has already been submitted to the WP Plugins DB, and is awaiting review.

FWIW, the licensing rules for that state: "Your plugin must be **compatible** with the GNU General Public License v2, or any later version."

https://wordpress.org/plugins/about/

[2015-10-08 17:02] #13 closed

[2015-10-08 17:03] ThemeSurgeon commented on #16
Thanks Jamie - I am doing a little work on a couple of things that I think
will make it easier to get approved by the plugin review team, assuming you
are good with that.

Best to you and yours,

John

John Teague
Founder
Theme Surgeons LLC
john@themesurgeons.com
https://themesurgeons.com

On Twitter <https://twitter.com/themeSurgeon> | Google+
<https://plus.google.com/+ThemesurgeonsWordPress/>

O

[2015-10-08 17:06] DanielGenser opened #17 "Editing an article publishes the edit as a new Medium article"
Each edit of a published WordPress article with crossposting turns on, publishes a new instance of the article on Medium.

[2015-10-08 17:18] fjarrett commented on #16
Thanks for your consideration, @majelbstoat. Yeah, you are right, I just found [this post](https://make.wordpress.org/core/2012/04/30/the-plugin-directorys-licensing-guidelines-have-been-updated/).

So if you have an internal reason for using Apache 2.0, this is apparently fine to do, and it looks like you can be published into WordPress.org repo.

However, if there's no specific reason for choosi

[2015-10-08 17:28] majelbstoat commented on #12
It has been submitted to the db, and we are awaiting review. If/when that happens, we will abide by the rules and host the code in the svn repo. Haven't figured out the full workflow yet, but we'll probably still do active development here, then ship tagged builds to the svn repo.

Closing for now.

[2015-10-08 17:28] #12 closed

[2015-10-08 17:28] majelbstoat commented on #14
Ugh, I used to know this. Has been too long. Thanks!

[2015-10-08 17:29] majelbstoat commented on #9
I needed the zip file only to have a convenient place for the initial submission to wordpress' plugin db. It won't live there very long :)

[2015-10-08 17:30] majelbstoat commented on #9
(It should have everything in it though... what's missing)

[2015-10-08 19:08] fjarrett commented on #14
@majelbstoat No problem!

[2015-10-08 19:31] fjarrett opened #22 "Clarity on the spelling and definition of "cross" terms used"
* cross-post
 * crosspost
 * cross-link
 * crosslink

1. I've noticed these terms spelled both with and without the dash, which way is preferred?

2. And what is the difference between cross-posting and cross-linking?

[2015-10-08 19:47] sagudo commented on #16
cc @feerst

[2015-10-08 19:54] fjarrett commented on #17
This bug is happening for me too. I think the expected behavior is that updating a WordPress post should also just _update_ the Medium post, not create a new one.

[2015-10-08 20:09] majelbstoat commented on #17
The expected behaviour is that no further edits take effect. The actions box in the top right should change to this after the first successful cross post:

<img width="294" alt="screenshot 2015-10-08 13 08 35" src="https://cloud.githubusercontent.com/assets/425787/10378426/b5366a06-6dbd-11e5-92cb-e2e87888ff7b.png">

Which happens for me. Is that not happening?

[2015-10-08 20:12] DanielGenser commented on #17
No, I don't see that state. For me, it stays in the state it was before
publishing my WP article the first time.

On Thursday, October 8, 2015, Jamie Talbot <notifications@github.com> wrote:

--
*Daniel Genser*
email: daniel.genser@gmail.com
skype: DanielGenser
mobile:  0682198238

[2015-10-08 20:20] fjarrett commented on #17
@majelbstoat Yes, I do see that in the Medium metabox.

The problem is that when you update the WordPress post that has already been cross-posted to Medium it creates a _new_ public post on Medium, and ignores the original visibility setting.

So I guess the expected behavior would be to do nothing when updating the post in WP if it's already been cross-posted to Medium. Although a better expectat

[2015-10-08 20:25] majelbstoat commented on #17
Ok, that's an important and bad bug, which I'll fix. Sorry for that :/

[2015-10-08 20:25] majelbstoat commented on #9
Fixed in #18.

[2015-10-08 20:26] #9 closed

[2015-10-08 20:43] fjarrett commented on #17
@majelbstoat No worries, thanks!

[2015-10-08 20:54] DanielGenser commented on #17
This is what I see when on the post composition Edit Post screen of an already published (to both WP and Medium) article.

<img width="297" alt="screenshot 2015-10-08 22 52 52" src="https://cloud.githubusercontent.com/assets/2189155/10379615/77c285f4-6e0f-11e5-9bb3-076314a85440.png">

[2015-10-08 21:18] demifiend opened #23 "Plugin attempts to cross-post new pages"
I added a Page (not a Post) to my site, and the Plugin pushed it to Medium. Saving changes to a Menu also resulted in an attempted push to Medium. Neither of these events should happen; or, at least there should be a switch to control whether Pages get cross-posted.

[2015-10-08 21:20] demifiend opened #24 "Plugin does not honor "Default crosspost status" setting"
I have "Default crosspost status" set to **Draft**, but when I publish a post on my site, the plugin does not create a draft on Medium. It immediately publishes the post.

[2015-10-08 21:21] demifiend commented on #24
This issue *may* be related to Issue #17 .

[2015-10-08 22:09] majelbstoat commented on #17
If you're able, can you dump the post meta 'medium' key for that post?

[2015-10-08 22:23] fjarrett commented on #23
Whoa, yeah this is kind of related to #17 as well, at least the part about pushing to Medium without explicitly telling it to.

[2015-10-08 23:46] DanielGenser commented on #17
Interesting – so I just made another edit to the same post, and now it triggered the expected state on the Edit Post page: https://www.dropbox.com/s/9a7eutkb4n1z41k/Screenshot%202015-10-09%2001.44.16.png?dl=0

However, a new issue is that this resulted in multiple “Also Published on Medium” items at the top of my post (in addition to the expected one at the bottom of my post): https://www.dropbox.

[2015-10-08 23:48] DanielGenser commented on #17
I now made yet another edit to this post, to see what would happen, and the Edit Post page stayed in the expected state again, however on the actual post, the “Also Published on Medium” items are completely gone (even the expected one at the bottom of my post).

[2015-10-09 00:42] majelbstoat commented on #17
Wow, all that is completed unexpected :/ The "Also published on Medium" is added once to each post that had cross_link set to true at the time of publish in the_content() - I guess there's a chance I'm not scoping the global post correctly. Something must be corrupting the post meta. Digging in on this further, but I haven't been able to repro even once :(

[2015-10-09 03:05] #14 closed

[2015-10-09 05:57] majelbstoat commented on #11
Hi @winmatt, I can't reproduce this. The code appears to clearly append the WP permalink to the end of a Medium post. However, it is possible that the permalink is empty, which would give the impression of it linking to itself. Can you send me a link to a Medium post that is linked incorrectly?

[2015-10-09 08:27] wlmmatt commented on #11
Hi Jamie

Sorry - I didn’t present that clearly.

Here are my test posts on wp (http://readpoppy.com/phase2/?p=31) and on medium (https://medium.com/@WLMmatt/ab78d1ec1d11).

Yes, the links at the end point to each other so when you click, you get to the right place *however* the problem is the canonicals defined in the headers rather thank the hyperlinks.

On Medium, the canonical link points to M

[2015-10-09 14:59] majelbstoat commented on #11
Ah, I see. That makes sense. Yes, I think you're right, the WP post should be the canonical one in this case. FWIW, the plugin doesn't touch the canonical link on your own blog, so I think that's just WP putting it in there for you.

Ok, I'll see about fixing this! :)

[2015-10-09 15:02] wlmmatt commented on #11
Oh that’s interesting - will need to see if that’s a core thing or something to do with the theme we’re using.

Thanks for the update!

Matt

[2015-10-09 15:25] #11 closed

[2015-10-09 15:41] majelbstoat commented on #24
Yes, I believe this is related to #17.

[2015-10-09 15:42] #17 closed

[2015-10-09 15:42] #23 closed

[2015-10-09 15:42] #24 closed

[2015-10-09 15:44] majelbstoat commented on #16
Having spoken with legal, and having confirmed with a reviewer at WP, for simplicity's sake, we're going to stay with Apache 2, in line with our other open source work. Appreciate your consideration.

[2015-10-09 15:44] #16 closed

[2015-10-09 15:59] majelbstoat commented on #22
Yah, I was sloppy here. Going to standardise on "cross-post" and "cross-link". Cross-post refers to the act of creating a post on Medium. Cross-link refers to whether you want a link to be appended on both sites that point to each other.

[2015-10-09 16:01] #22 closed

[2015-10-09 16:59] fjarrett commented on #22
Thanks!

[2015-10-10 14:58] troutcolor opened #29 "Multiple 'Also published on Medium' links are displayed at top of post"
This can be seen: http://johnjohnston.info/blog/wordpress-to-medium/

The link is also at the bottom of the post where I would expect it.

I had to change all the short echo tags to the older style because I am running on php 5.3 so it might be my problem?

[2015-10-10 23:28] majelbstoat commented on #29
Hey @troutcolor, short tags will be fixed with #30. Not sure what is causing the multiple additional links. Perhaps the_content() is being called on things that are not a post? I'm going to look into that, thanks.

[2015-10-10 23:29] majelbstoat commented on #29
Do you use a custom theme, or one that I can get from the theme database? Do you have other plugins running? Did you make multiple revisions of the post before publishing, or re-publishing?

[2015-10-10 23:43] majelbstoat commented on #29
Ok, I pushed a change, which may fix it. Can you take the latest version and try again?

[2015-10-11 09:53] troutcolor commented on #29
Thanks @majelbstoat
The short tags if fixed for me.

I am using a child theme of  SemPress
http://notizblog.org/projects/sempress/
https://wordpress.org/themes/sempress/

I did make several changes to the post before publishing.
I've got **Cross-post as: None** set as default, and edited the post, saving a draft a few times.
I've added the new plugin. The multiple links are still on the post and o

[2015-10-11 10:29] troutcolor commented on #29
I toggled all of my plugins off and the problem seems to be when the medium plugin and **Jetpack** is activated.
I went through all of the jetpack modules I have active and toggled them off.
If I turn of the Publicize and Sharing Modules the multiple links go away.
If I deactivate the Publicize module there is only one problematic link at the top of the single post view. Deactivating Sharing leave

[2015-10-11 15:41] majelbstoat commented on #29
This is great, thanks.

[2015-10-12 13:23] Japh commented on #9
Thanks for removing it! Much simpler now :)
It was missing at least all files from `lib`.

Thanks again for this plugin!

[2015-10-12 19:47] TheDavidJohnson commented on #29
I'm just jumping in to let you know that I also experienced multiple links at the top of this post:
http://thedavidjohnson.com/2015/10/09/rebranding-epiphany/

Interestingly enough, I didn't notice the extra links at the top the day I posted it. I could've just been really, really blind and not paying attention (I doubt this), or perhaps something else changed since then.

I've not gone through th

[2015-10-12 20:27] TheDavidJohnson commented on #29
FYI: I just updated to the latest version (including #30) and I still see the 4 extra links at the top. Will be more than happy to supply any troubleshooting info or cooperate however I can. Thanks!

[2015-10-13 21:56] rjmccollam opened #32 "the_excerpt() function breaks when a post has Also Published on Medium appended to the post"
I just noticed that all posts that have the Also Published on Medium appended to the end of the post display the full contents of a post when `the_excerpt()` is called in a theme.

Examples of this on my blog page at http://rjmccollam.com/blog/

[2015-10-14 16:38] majelbstoat commented on #32
Thanks @rjmccollam, we'll look into this.

[2015-10-14 16:49] majelbstoat commented on #29
Just to let you know, I'm still looking into this.

[2015-10-14 17:06] majelbstoat commented on #29
Ok, thanks to your information, I can now reproduce the problem locally. Working towards understanding why this is happening.

[2015-10-14 17:46] #29 closed

[2015-10-14 17:46] #32 closed

[2015-10-14 17:47] majelbstoat commented on #32
Should be fixed, please check out the latest version and let me know.

[2015-10-14 17:47] majelbstoat commented on #29
Should be fixed, please check out the latest version and let me know.

[2015-10-14 17:50] rjmccollam commented on #32
Yep, this fixes it.

Well done guys.

[2015-10-14 18:14] troutcolor commented on #29
Yep both posts that showed the problem
http://johnjohnston.info/blog/wordpress-to-medium/
and
http://johnjohnston.info/blog/this-medium-is-not-a-message/
don't show the extra text any more.
Many thanks

[2015-10-17 20:58] dkornyukhov opened #35 "Issue when cross-posting"
Hey guys!
I'm using your plugin on my website: https://theopenmic.co and I'm having the following issue: Medium Error: Failure: Bad nested paragraphs: [ LI ] (-1)
I see this issue in the backend when viewing this post: https://theopenmic.co/how-to-add-tweets-to-your-stories/
Any ideas what might be causing the problem?

[2015-10-19 13:38] 8BrickDMG opened #36 "Server Error 500"
Hi,

I recently installed the plugin into our Wordpress environment and I noticed that adding in the Medium token into the users profile page, causes an error 500 when saving. This can only be triggered when saving something in that field. Any other profile settings save fine.

Any ideas on how to resolve this? I've gone and added the token directly to the database to work around this.

Thanks!
Ja

[2015-10-19 14:26] fjarrett commented on #36
Hi Jason, the more details you can provide about your environment, the better. This will help others reproduce the issue.

* WordPress version
* PHP version
* OS
* List of active plugins
* Theme name

[2015-10-20 15:29] majelbstoat commented on #35
Thanks for the report @dkornyukhov. Can you paste here a small snippet of post HTML that triggers the error?

We'll take a look into this, cc: @kylehg.

[2015-10-20 15:32] majelbstoat commented on #36
Also, @8BrickDMG, can you include the (anonymised) error log line?

[2015-10-20 20:51] kylehg commented on #35
@dkornyukhov I tested using the HTML on that page and it looks like the issue is your images inside the numbered list—we don't support images in our lists, only as free-standing paragraphs.

(The API shouldn't be returning an error, though, so I'll investigate and fix that separately.)

[2015-10-22 15:59] 8BrickDMG commented on #36
Hi @fjarrett and @majelbstoat. Here are the following details of the environment.

WordPress version = 4.3.1
PHP version = PHP 5.6.4-4ubuntu6.2 (cli) (built: Jul  2 2015 15:29:28)
OS = Ubuntu Server 15.04

List of active plugins =
AddThis Sharing Buttons v5.1.2
Contact Form 7 v4.3
Countdown Pro Wpdevart v10.0
Google XML Sitemaps v4.0.8
MailChimp for WordPress Lite v2.3.16
MailChimp Forms by MailMu

[2015-10-23 15:58] hughforsyth opened #38 "Short codes being displayed in Medium article?"
Hi,

I've been trying the plugin and have noticed that it seems to post short code text to Medium as I see [caption....] in the Medium article.

I'm no WordPress Codex expert but I am guessing that this part of /lib/medium-admin.php is outputting the content without rendering the short codes:
[code]

It seems like a similar issue to this issue described on stack overflow:
http://stackoverflow.com/

[2015-10-28 18:10] wjmoner commented on #36
I'm also receiving the same 500 Server Error when attempting to apply the integration key to a publication. Theme: Twenty-Fifteen default, no changes, no plugins other than Akismet. When I press reload after the 500 Error, I get a message in the browser stating "Invalid User ID."

[2015-10-28 20:16] majelbstoat commented on #36
Hey @wjmoner, that's very strange. Can you email the token you used to developers@medium.com for the attention of Jamie, and I can try and reproduce. (Does it happen for all tokens, if you generate another one for yourself from the settings page?)

Thanks for the info too, @8BrickDMG.

[2015-11-05 05:49] Chrisjgreenough commented on #36
We have a very similar environment and we are receiving the same error. There is no effect when creating new tokens. I've installed the plugin via Wordpress and via the zip file on GitHub separately just incase. Is it possible to also email you our token?

[2015-11-05 15:52] majelbstoat commented on #36
Yep, please do.

On Wed, Nov 4, 2015 at 9:49 PM Chris Greenough <notifications@github.com>
wrote:

[2015-11-06 03:44] majelbstoat commented on #36
Ok, I've tested both the supplied tokens, and they are working as expected, which points to some kind of failure in the WP plugin itself.

You can try this yourself with curl on the command line:

[code]

Will do my best to dig in to the root cause, but without error messages, or a line number it's pretty hard.

[2015-11-06 05:34] majelbstoat commented on #36
Hey @wjmoner, @Chrisjgreenough, @8BrickDMG,

Can you paste a screenshot of the exact errors you see in the browser? I've done extensive testing with large combinations of plugins without reproducing, so I think it must be something to do with server configuration. It might be to do with the version of cURL that is on the server, or something else like that. Going to move to wp's own request librar

[2015-11-06 05:56] Chrisjgreenough commented on #36
@majelbstoat   ![screen shot 2015-11-06 at 1 52 25 pm](https://cloud.githubusercontent.com/assets/15665512/10990403/affde5c8-848d-11e5-9ec2-db7902979908.png)
We are looking into our server to see if it's a server error on our end.

[2015-11-06 07:26] Chrisjgreenough commented on #36
@majelbstoat it was our cURL version. Thanks!

[2015-11-06 07:27] majelbstoat commented on #36
Awesome, thanks for double-checking. Hopefully the move to wp_remote_get() in the next version will catch and fallback to an alternative for others.

[2015-11-06 07:27] majelbstoat commented on #36
(What cURL version did you have? And what version worked?)

[2015-11-06 07:56] majelbstoat opened #42 "Cross-link to Medium is shown even when it's not supposed to be."
Steps:
1. Create a post
2. Choose no for cross-linking.
3. Send to Medium.

Actual:
4. Local post has a link to Medium post.
5. Medium post does not have a link to local post.

Expected:

No cross-links at either end.

[2015-11-06 08:00] majelbstoat commented on #42
Fixed by #41.

[2015-11-06 08:00] #42 closed

[2015-11-06 08:02] majelbstoat commented on #36
@wjmoner, @8BrickDMG, I just merged a patch to use WP's standard request libraries. If you're able, can you upgrade to this version, and let me know if it solves the problem?

If it doesn't, it's likely to be your curl config/version, as it was for Chris, but would be good to know if this actually solves the problem.

[2015-11-06 15:00] wjmoner commented on #36
@majelbstoat Thanks for all your help! The new plugin connected using my Medium token without trouble. Great work, thanks!

To answer your question, curl 7.35.0 (x86_64-pc-linux-gnu)

[2015-11-07 11:07] Chrisjgreenough commented on #36
@majelbstoat we used the latest edge version from apt-get.

[2015-11-08 22:51] majelbstoat commented on #36
Going to call this fixed. Thanks for debug help everyone.

[2015-11-08 22:51] #36 closed

[2016-01-04 08:03] leotulipan opened #60 "publishedAt must be in the past."
WP 4.4 (German) with latest medium from the wp.org repo

- Log in as Admin
- Edit a Post of another user (that has a medium token)
- click Update
- I got the Error "Medium Error: If specified, publishedAt must be in the past. (2014)"

This might be a Timezone thing, as the post was about 15 minutes old, but the blog is setup to the CET (European) Timezone

[2016-01-10 23:38] mahemoff opened #62 "Conditional posting (not syndicating every WordPress article)"
The README doesn't mention if it's possible to choose whether to post to Medium or not? Ideally, I'd want this to happen automatically based on a whitelist of tags/categories, but a checkbox would work too.

[2016-01-11 23:16] raumzeit77 commented on #60
I have the exact same problem, but also with posts from my won account (admin). My timezone is set to Berlin.

[2016-01-28 05:24] huckphin commented on #62
Supporting something like this makes a lot of sense. We will put it on our roadmap, and provide you with more details as they evolve.

[2016-02-05 04:10] huckphin commented on #35
@dkornyukhov Thank you for reporting the issue. This has been fixed on our backend. Thank you for using the API, and reporting the issue.

[2016-02-05 04:10] #35 closed

[2016-02-05 04:16] huckphin commented on #38
@hughforsyth: Thank you for reporting. Version 1.2 was released which includes a fix for this. [Changelog](https://wordpress.org/plugins/medium/changelog/)

[2016-02-05 04:16] #38 closed

[2016-02-05 17:26] huckphin commented on #60
Thanks for reporting this issue. This is something that I can take a look at.

[2016-02-08 23:37] chiwaili commented on #60
+1
I've been having the same issue for sometime now too. Currently in London, also had it in Hong Kong over a month ago

[2016-02-12 15:22] serkanemir commented on #60
I've been having the same issue for sometime now too. Currently in Istanbul, Turkey. serkanemir.com

[2016-02-15 19:08] huckphin commented on #62
Going to close this for now, but have tagged it as an `enhancement` and will bring up this suggestion in the next product planning sessions. Thank you for the suggestion.

[2016-02-16 00:56] huckphin opened #66 "Cross posting a post that has HTML tags in the title should be stripped"
If you have a Wordpress post with HTML tags in the Wordpress post, the HTML tags are not stripped from the Medium post, leaving the post title with HTML tags.

[2016-02-16 01:53] #66 closed

[2016-02-16 03:20] huckphin commented on #60
If you upgrade to the latest version of the [Medium Wordpress plugin (1.2)](https://wordpress.org/plugins/medium/) it will now work correctly. Our backend also accounts for this properly by adjusting the date.

[2016-02-23 12:00] raumzeit77 commented on #60
sadly it still doesn't work. I've even re-installed the plugin.

[2016-02-23 19:48] huckphin commented on #60
Reopening this. Will investigate, triage, and fix.

[2016-02-23 20:37] huckphin opened #69 "Timeout when a post contains invalid image URLs"
When attempting to cross post a story to Medium, if the post content contains an invalid URL, the post will be created in the publication, but the plugin will not receive a response, end up timing out, stopping an in-progress migration.

[2016-02-24 08:45] pmuens commented on #60
Facing the same issue. Thanks for investigating!

[2016-03-11 08:21] hkoivuneva commented on #60
I've also got this issue, unfortunately. Time zone is ACDT (UTC+10:30). Thank you in advance!

[2016-03-15 20:43] #60 closed

[2016-03-18 22:20] huckphin commented on #60
The 1.2.2 WordPress plugin was just released, which will fix this issue.

[2016-04-20 19:42] huckphin opened #74 "add support for post thumbnails ("featured images")"
Currently, the plugin does not pull in a post thumbnails when cross posting.

[2016-04-20 19:52] huckphin opened #75 "if a post does not have post_date_gmt, then the date is not imported correctly"
Since using `post_date_gmt`, there have been multiple reports of posts not having `post_date_gmt`, and publishing the stories has failed. Optimistically, use `post_date_gmt`, but fallback to using `post_date`, if `post_date_gmt` is not available or set.

[2016-04-20 21:52] #75 closed

[2016-04-22 17:47] #74 closed

[2016-04-22 21:09] huckphin commented on #69
Have not been able to reproduce this issue as of late. Will reopen if this is seen again.

[2016-04-22 21:09] #69 closed

[2016-04-26 16:08] huckphin opened #80 "sites with invalid_taxonomy should be aware of missing tags"
If a site installation has invalid taxonomy due to missing plugins or registering a new taxonomy that is known to be invalid, the taxonomy causes the plugin to be unable to grab the tags of the WordPress post.

To grab the tags, the plugin uses [wp_get_post_terms](https://developer.wordpress.org/reference/functions/wp_get_post_terms/) to pull the tags. If there is an invalid taxonomy, a WP_Error o

[2016-04-27 19:20] huckphin commented on #80
In testing, it was discovered that [wp_get_post_tags](https://codex.wordpress.org/Function_Reference/wp_get_post_tags) will still return tag data from a given `$post_id`. Will use this as a fallback mechanism if no tags are found.

[2016-04-28 13:28] huckphin opened #81 "duplicate images if <img> in post content, and also set as featured image"
Since 1.3.0, featured images are pulled into posts automatically. If an <img> is at the top of the post content, the resulting Medium post has duplicate images, which is not the intention in almost all cases.

The WordPress plugin should inspect the post content for a starting <img> tag, and if there is a starting <img> tag, the featured image should not be pulled in, even if the featured image is

[2016-04-28 15:31] #80 closed

[2016-04-28 15:31] #81 closed

[2016-04-28 20:58] huckphin opened #84 "strip hyperlinks (<a>) in post content if link points to unsupported content (features, pages, authors, tags)"
Features, Pages, Authors, Tags, and other special links break if there is a custom domain setup. These links can impact SEO by returning 404s. The links in the post content should be stripped to plain text.

[2016-04-29 13:16] huckphin opened #85 "wp_get_post_terms returns no tags and no WP_Error"
When fetching tag data for cross posting, wp_get_post_terms() did not return tags and there was not a WP_Error returned, either. Observed in a highly customized, ten-year-old WordPress instance with 10K+ posts.

[2016-04-29 15:24] huckphin opened #87 "posts containing [gallery] short codes often time out"
posts using the [gallery] shortcode often time out when attempting to cross-post.

[2016-04-29 17:34] #85 closed

[2016-05-01 14:31] huckphin opened #88 "titles containing unicode characters fail to crosspost with 'invalid title' error"
If a title contains a Unicode character ([\u2015](http://www.fileformat.info/info/unicode/char/2015/index.htm) is a common one), the cross post will fail, returning an error of "Invalid Title".

Expected result: cross posting will succeed, and Unicode characters will get converted to ASCII.

[2016-05-01 14:58] huckphin opened #89 "receiving a 5xx response causes a migration to halt"
if a 503 is returned from the API, the migration halts. A better failure mode is to retry, at increasingly longer intervals, for up to ten times before halting.

[2016-05-01 20:28] huckphin opened #90 "cross-posted stories should detect the character encoding and use it when posting"
If a post is posted using a different character encoding than was specified when making the post, the content will end up with unreadable characters. The content's character encoding should be detected, and then used when cross-posting.

[2016-05-03 21:51] amyquispe opened #92 "_get_user_integration_data() slow when publication has lots of users"
In one case this made the plugin stop entirely, resulting in the Migration tool not showing up under Tools. This was fixed by rewriting the SQL queries to be more efficient. Should optimize this for future migrations.

[2016-05-03 23:57] huckphin opened #93 "if a post is deleted on Medium side, there is not a simple way to cross post the Medium story again"
If a WordPress post is cross-posted to Medium, the record of it completing is saved in the `postmeta` WordPress table. If a migration needs to be completely reset, the only option right now is to delete the postmeta records manually from the database, matching those with a `meta_key = "medium_post"`.

Manually editing database records is prone to errors and dangerous. It is not recommended, and sh

[2016-05-04 22:49] #89 closed

[2016-05-16 16:48] huckphin opened #95 "API ERROR: postDelta table throttled due to under-provisioned capacity"
Observed the following errors when running a migration:

`API ERROR: The level of configured provisioned throughput for the table was exceeded - Table: postDelta.'

The expected behavior is to back off and retry again. The migration should not stop due to this error.

[2016-05-20 21:57] huckphin opened #96 "posts missing titles fail to cross-post"
Posts with a missing title should be replaced with simply "untitled" to not prevent problems with cross-posting stories to Medium.

[2016-05-21 00:49] shitijagarwal commented on #96
Thanks for picking this up!

[2016-05-23 17:25] amyquispe opened #97 "Support Featured Images when Woo Commerce Plugin is installed"
https://developer.wordpress.org/reference/functions/the_post_thumbnail/

[2016-06-07 15:13] #97 closed

[2016-06-09 13:10] #95 closed

[2016-06-16 22:24] huckphin commented on #62
Deprioritized for now, but will evaluate again in the future since it is a good thing to support.

[2016-06-17 17:08] koffisani commented on #60
Medium Plugin v1.4.0 with the same error message

WP 4.5.2.

[2016-06-20 17:35] #96 closed

[2016-06-21 14:42] koffisani opened #106 "Medium Error: If specified, publishedAt must be in the past. (2014)"
I'm using WP 4.5.2 and facing this issue when posting my articles.

 Is it a bug ?

[2016-06-27 17:48] huckphin commented on #106
Hello @koffisani: There is not a known issue at this time. Can I get the following information from you to help debug? May I ask you to attempt to cross-post again, and provide me with the following information?

Medium Username, DateTime that you tried to cross-post (including the time zone), the TimeZone your WordPress installation is set to.

From there, I can inspect the logs, and learn more i

[2016-06-28 21:06] #92 closed

[2016-07-07 20:54] benmedium opened #110 "Fall back to site URL for post attribution when site name isn't available"
Currently, the plugin adds "Originally published at [sitename]." to the bottom of imported posts. This blanks out if the site name isn't set for some reason.

In these cases, we should fall back to using the main site homepage URL, so we continue to display attribution.

[2016-07-07 22:32] #110 closed

[2016-07-25 23:04] huckphin opened #112 "posts scheduled in wordpress to do cross-post to Medium"
Posts that are scheduled in WordPress are not cross-posting to Medium.

[2016-07-26 07:23] RajeshSource commented on #60
No luck ):
Medium Error: If specified, publishedAt must be in the past. (2014) .

Blog was setup with Timezone to the "Newyork" and Medium plugin activated and published post which is published to medium also after 12-24hrs some how I am okay with the end result.
I came to know in one post Timezone issue for hitting our European and Asian friends, so am from INDIA due to timezone issue I connected

[2016-07-26 18:24] koffisani commented on #106
Hello @huckphin, sorry for my silence. See bellow the informations you requested :
Medium username : @koffisani
DateTime I tried to cross-post : 2016-07-26 19 : 14 GMT+1
DateTime of my WP : 2016-07-26 20 :14 GMT+2 [Paris/France]

[Screen shot](https://goo.gl/photos/tUoj4A9dU86pwL3g6)
Thanks.

[2016-07-26 19:56] huckphin commented on #106
No worries. Thank you for providing that information! That helped me track down the actual issue. For the actual details, the post that you provided failed to post because your server is thirteen seconds ahead of our server, which is *technically* in the future. This was very helpful. Thank you for reaching back out to us.

I should have time this week to put in a fix.

[2016-07-28 20:58] #106 closed

[2016-07-30 08:33] rahulrulez commented on #93
I am also facing this issue. There has to be an option to refresh publication status. I wanted to re-crosspost my article from WP to medium as it was god deleted accidently

[2016-08-24 13:16] nickcernis opened #114 "Fatal error caused by undefined wp_get_the_category() function"
Use of `wp_get_the_category()` in `medium-admin.php` causes a fatal error when attempting to share posts: https://github.com/Medium/medium-wordpress-plugin/blob/master/lib/medium-admin.php#L768

`Fatal error: Call to undefined function wp_get_the_category() in /var/www/example.com/wp-content/mu-plugins/medium-wordpress-plugin/lib/medium-admin.php on line 768.`

There is no `wp_get_the_category()`

[2016-09-13 10:27] koffisani commented on #106
Hi @huckphin. Is it right now ? I think itsn't solved.

[2016-09-16 22:33] tizzle commented on #93
Bump, i would love to see this feature.

[2016-10-18 16:02] Pakmandesign opened #118 "Not pulling value from Advanced Custom Fields"
My blog posts are built using Advanced Custom Fields(acf).
My content is stored inside a custom field therefore it's out of reach for the_content() function.
So the post that's being posted on Medium only has the title, the excerpt and the featured image. Anyway to get around this?

[2016-10-18 18:16] huckphin commented on #112
Assigning to @amyquispe for triage.

[2016-12-01 17:55] nextpulse opened #119 "Cross posting is not triggered when creating post via WP rest api"
Using the WP REST api to create a post, the Medium's save_post is not triggered.
Only a 'manual' update via the WP editor will trigger the save_post.

Maybe related to
https://github.com/Medium/medium-wordpress-plugin/issues/112

[2016-12-01 18:20] nextpulse commented on #119
Just took a look at the code. So the issue is in medium.php

It is using is_admin() to assign triggers. This is a 'view' based trigger - hence programmatic post creation fails.

[2016-12-14 09:31] odedniv commented on #93
Same as @tizzle

[2016-12-14 09:46] odedniv commented on #93
Found a hack, thinking most people who get here are developers...

1. Get the post's ID by editing it in WordPress (`/wp-admin/post.php?post=11&action=edit` => 11).
2. Login to your MySQL server (you can find the server information in `wp-config.php`).
3. Run this SQL snippet.

[code]

Voilà!

[2017-01-09 19:06] nickfrost opened #121 "Installed plugin will not update auth token form field"
After Medium plugin is installed in Wordpress (v. 4.5.4), it will not save the authentication token produced from my Medium profile settings. This prevents me from being able to post content from Wordpress to Medium. This feature works for other WP & Medium users in my org.

Is this a known issue with the plugin?

Is it more likely a Wordpress issue?

[2017-01-31 07:46] williwambu commented on #121
I am experiencing this problem in my site too in Wordpress v. 4.7.2

[2017-03-04 19:33] Gattermeier opened #123 "Under active development"
Is this plugin still under active development? It seems the last tag release was June 8th 2016 and PRs are pending since October.

[2017-03-04 19:34] Gattermeier commented on #123
@majelbstoat

[2017-03-10 04:14] timnolte commented on #119
@nextpulse did you submit a PR for this by chance? Really need to see this fixed as I use the Android app for about 95% of my blog posts.

[2017-03-10 04:16] timnolte commented on #112
Really need to get some traction on this fix for multiple posting issues.

[2017-04-05 20:24] Batsirai commented on #121
Me too.

[2017-04-12 14:56] ArboLife opened #124 "WPML duplicates post the same article twice on Medium"
We have a multilingual blog and our articles are duplicated to be shown in both French and English. To do this, we use WPML duplicates. When publishing to Medium with your plugin, the article gets published twice and it’s not easy to figure out which one is which. I found that looking at the "canonical" link in the source and verifying the language of the source link to https://www.arbolife.com/fr

[2017-11-10 15:44] osukaa commented on #123
It seems they updated the README to state that it's no longer maintained on #126

[2017-11-15 19:25] 1-800-jono opened #127 "Errors when activating plugin"
When plugin is activated I get a few Warnings (Installed from within WP) :

`Warning: session_start(): open(/Applications/MAMP/tmp/php/sess_2542ee2bc543911ddef634562b7bd096, O_RDWR) failed: No such file or directory (2) in /Users/xxxxxx/Sites/website/wp-content/plugins/medium/lib/medium-admin.php on line `

` Warning: session_start(): Cannot send session cache limiter - headers already sent (outpu

[2017-12-01 16:31] DSchau commented on #112
Any update on this? We make heavy usage of scheduled postings on our blog, and we'd _love_ if this were able to be built in.

If there is any way I help test out a fix, or even help with a PR, please let me know and I'll help out with this.  Thanks!

[2017-12-03 15:52] haneef95 opened #128 "Single integration for all WordPress profiles"
Hi,
I want to be able to:
1. Copy all my current content from my WordPress site to medium.com and maintain canonical link to my current original site
2. All future new content and modifications (on my WP Site) should be automatically updated on medium.com
 * So, if I edit a post, the edit should be reflected on the medium.com post as well.
3. Link my whole medium site once, instead of asking every

[2017-12-24 01:42] timnolte commented on #112
@amyquispe somehow it says that I unassigned this from you. Which is strange given I don't have rights to this repo, not that I was aware of I guess. 😀 I'm going to try to take a look at this myself over the next couple of weeks, and submit a PR if I can.

Assigning to @amyquispe again.

[2017-12-25 06:27] amyquispe commented on #112
I haven't worked at Medium in about a year and will not be working on this. I've unsubscribed from this thread.

[2017-12-27 14:22] gopalkoduri opened #129 "Plugin does not honor integration token for few posts"
First, thanks for the very handy plugin!

There is one issue. After adding the integration token to the profile, the plugin worked well and added few old posts to Medium after 'updating' them. But for a majority, it kept saying "Add an integration token on your profile page to enable cross-posting to Medium." even after doing so and having published a few on Medium.

Is this a known issue? Is ther

[2018-01-17 09:05] Traviata56 opened #130 "Plugin doesn't work"
<img width="363" alt="screen shot 2018-01-14 at 16 32 28" src="https://user-images.githubusercontent.com/26966292/35034370-347c6190-fb6e-11e7-8a98-14d82775bac8.png">

<img width="753" alt="screen shot 2018-01-14 at 17 49 09" src="https://user-images.githubusercontent.com/26966292/35034345-20f8df2c-fb6e-11e7-8a52-5b25d778602a.png">
When I publish or update a post it gives error message (see screens

[2018-01-23 22:53] ArboLife commented on #124
This seemes to be fixed.

[2018-02-02 09:43] greiggy opened #131 "Cross posting scheduled posts broken"
I am finding that cross posting is not triggered on scheduled posts, when the scheduled post is auto-published.

I have to go into Wordpress each day and do an 'update', which then seems to trigger the plug in.

I notice that this has been raised by others, but apparently not investigated.

Any possibility we could see a fix for this? It's clear.ly important to a number of users.

[2018-04-23 19:32] jcklpe commented on #93
Just encountered this issue. Also Medium isn't showing up in gutenberg anymore. this thing needs better support.

[2018-04-23 19:51] jcklpe commented on #93
Okay so I tried the sql snippet and it seemed to work. And I got Medium extension to appear again within the Gutenberg editor. BUT I can't seem to do the cross post again. it doesn't give me the option, even though I ran the SQL snippet. I'll keep testing.

[2018-04-23 22:31] jcklpe commented on #93
I just manually deleted the row found with the sql snippet and it's all good now. Thanks guys!

[2018-07-31 07:30] raaphorst opened #132 "Now way to delete the 'Also published on Medium' line?"
I cannot find a way to delete the 'Also published on Medium' line at the bottom of the WordPress post. Do I really need to go into MySQL and delete it there?

[2018-08-16 11:05] jan-vandenberg commented on #106
I **just** had this very same error.

[2018-08-24 13:50] RocksteadyTC commented on #131
Fixed https://github.com/Medium/medium-wordpress-plugin/pull/133

[2018-08-24 13:50] RocksteadyTC commented on #130
Fixed https://github.com/Medium/medium-wordpress-plugin/pull/133

[2018-08-24 13:50] RocksteadyTC commented on #129
fixed https://github.com/Medium/medium-wordpress-plugin/pull/133

[2018-08-24 13:50] RocksteadyTC commented on #121
fixed https://github.com/Medium/medium-wordpress-plugin/pull/133

[2018-11-12 15:32] vovafeldman commented on #106
@huckphin I think that the plugin doesn't take WP timezone (set in the settings) into consideration when preparing the publication date for Medium. I was getting the error from a server with a properly synced clock. After changing the timezone to UTC in the WP Admin -> Settings -> General, it started working.

[2019-01-02 08:45] SGallay opened #134 "Plug-in stopped working since 28 December 2018"
Did Medium change something on the last week of 2018? My posts have stopped appearing, starting 31 December 2018.

No error message, nothing obvious, just no new post on Medium when I publish my new Wordpress article.

[2019-01-19 11:35] nikitazank opened #135 "text appears broken when cross-posting from Wordpress"
When I cross-publish my blog from WordPress to Medium, the formatting on Medium is not proper and the text appears broken and one below other and does not carry the Wordpress formatting. Does anyone know how can this issue be solved?  (image below for reference)
![untitled](https://user-images.githubusercontent.com/46841262/51426191-f3fadc80-1c0c-11e9-89fa-24c0026ecf14.png)

[2019-02-01 13:32] koffisani opened #136 "Application not found error"
trying to cross-post right now, I get this message

Is there any issue with the plugin ?
I'm using version 1.4.0 with WordPress 4.8.8

Thanks.

[2019-02-13 12:04] dmonnerat commented on #136
Same here

[2019-02-13 22:57] carlabobak commented on #136
Also experiencing the same. Running WordPress version 5.0.3 and plugin version 1.4.0.

[2019-03-03 21:10] elanderson opened #137 "Medium Error: If specified, publishedAt must be in the past. (2014)"
Two weeks in a row I have gotten the following error trying to publish from my blog.

I am on version 1.4.0 of the plugin. I have already tried getting an new integration token, but the error still happens.

[2019-04-22 18:15] StfBauer commented on #136
Same issue here and token generator has been removed from Medium Page. :(

Can someone please fix this.

[2019-04-23 13:37] koffisani commented on #136
Perhaps, this message can justify the error :

https://fr.wordpress.org/plugins/medium/

[2019-06-13 17:48] dgitman commented on #137
I'm also seeing the issue

CC @jeremyhoro1

[2019-07-01 06:31] pkiula opened #138 "Is this still active, and will it post entire "articles" with ACF custom fields?"
On the Wordpress plugins site, this has a warning that it's not "tested with my current version of Wordpress". Is this still functional?

Secondly, will this take only the usual `wp_content` and `wp_title`, etc, or will it also pick up ACF based custom field data to compose an entire article as it is on our website?

Thanks.

[2019-08-27 17:46] ravilach commented on #137
Same here.  Note sure if these settings have anything to do with the error. I had a draft go through one time and now nada.

![image](https://user-images.githubusercontent.com/42775804/63794911-e9a26e80-c8d0-11e9-9e81-b793ce0141d2.png)

![image](https://user-images.githubusercontent.com/42775804/63794970-05a61000-c8d1-11e9-8dae-87098ae6edd8.png)